@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&family=Noticia+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-nav-bar: #242323;
    --cor-primaria: #ffff;
    --cor-preta: #000;
    --font-metaverso: 'Noticia Text', serif;
    --font-titulo: 'Tilt Prism', cursive;
    --efeito-hover: rgb(143, 10, 143);
}

html,
body {

    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--cor-preta);
}
nav {
    background-color: var(--cor-preta);
    padding: 10px;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    color: var(--cor-primaria);
    padding: 8px;
    position: relative;
}

nav ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 8px;
}

nav ul li a:hover {
    color: rgb(230, 36, 36);
   
}


/*Botão de voltar ao topo*/

.top {
    position: fixed;
    bottom: 20px;
    right: 25px;
}

#btn {
    font-size: 30px;
    text-decoration: none;

    
}

#btn:hover {
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    menu {
        display: none;
        background-color: var(--cor-nav-bar);
        padding: 8px;
        height: 100vw;
        width: 100%;
    }

    #btn-mobile {
        color: var(--cor-primaria);
        background-color: #000;
        font-size: 25px;
        display: block;
    }

    #btn-mobile {
        cursor: pointer;
    }

    menu ul li {
        padding: 8px;
        font-size: 20px;
        list-style: none;
    }

    menu ul li a {
        text-decoration: none;
        color: var(--cor-primaria);
    }

    /*Conteúdo Sobre nós*/
    .content-about{
        border-top: 2px solid var(--cor-primaria);
         background-color: var(--cor-preta);
         width:90%;
         margin: auto;
         height: 300px;
        padding: 10px;
        color: var(--cor-primaria);
         font-family: var(--font-metaverso);
         text-align: center;
     }
     .box-about {
         text-align: justify;
         padding: 10px;
         line-height: 1.5em;
         font-family: var(--font-metaverso);
     }



}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    nav {
        display: none;
    }

    menu {
        display: none;
        background-color: var(--cor-nav-bar);
        padding: 8px;
        height: 100vw;
        width: 100%;
    }

    #btn-mobile {
        color: var(--cor-primaria);
        background-color: #000;
        font-size: 25px;
        display: block;
    }

    #btn-mobile {
        cursor: pointer;
    }

    menu ul li {
        padding: 8px;
        font-size: 20px;
        list-style: none;
    }

    menu ul li a {
        text-decoration: none;
        color: var(--cor-primaria);
    }
    .content-about{
        border-top: 2px solid var(--cor-primaria);
         background-color: var(--cor-preta);
         width:90%;
         margin: auto;
         height: 300px;
        padding: 10px;
        color: var(--cor-primaria);
         font-family: var(--font-metaverso);
         text-align: justify;
     }
     .box-about {
         text-align: center;
         padding: 10px;
         line-height: 1.5em;
         font-family: var(--font-metaverso);
     }
    
}

/*telas grande */
@media only screen and (min-width: 800px) {
    nav {
        display: none;
    }

    menu {
        display: none;
        background-color: var(--cor-nav-bar);
        padding: 8px;
        height: 100vw;
        width: 100%;
    }

    #btn-mobile {
        color: var(--cor-primaria);
        background-color: #000;
        font-size: 25px;
        display: block;
    }

    #btn-mobile {
        cursor: pointer;
    }

    menu ul li {
        padding: 8px;
        font-size: 20px;
        list-style: none;
    }

    menu ul li a {
        text-decoration: none;
        color: var(--cor-primaria);
    }
    .content-about{
        border-top: 2px solid var(--cor-primaria);
         background-color: var(--cor-preta);
         width:800px;
         margin: auto;
         height: 300px;
        padding: 10px;
        color: var(--cor-primaria);
         font-family: var(--font-metaverso);
         text-align: center;
     }
     .box-about {
         text-align: justify;
         padding: 10px;
         line-height: 1.5em;
         font-family: var(--font-metaverso);
     }
}

@media only screen and (min-width: 1000px) {
    #btn-mobile {
        display: none;
    }

    menu {
        display: none;
    }

    nav {
        display: block;
    }

    /*Conteúdo Sobre nós*/

.content-about{
    border-top: 2px solid var(--cor-primaria);
     background-color: var(--cor-preta);
     width: 90%;
     margin: auto;
     height: 300px;
    padding: 10px;
    color: var(--cor-primaria);
     font-family: var(--font-metaverso);
     text-align: center;
 }
 .box-about {
     text-align: justify;
     padding: 10px;
     line-height: 1.5em;
     font-family: var(--font-metaverso);
 }
 .content-about{
    border-top: 2px solid var(--cor-primaria);
     background-color: var(--cor-preta);
     width:800px;
     margin: auto;
     height: 300px;
    padding: 10px;
    color: var(--cor-primaria);
     font-family: var(--font-metaverso);
     text-align: center;
 }
 .box-about {
     text-align: justify;
     padding: 10px;
     line-height: 1.5em;
     font-family: var(--font-metaverso);
 }
    
}


